.config
*.o
*.pyc
*.d
*.orig
*.c~
*.h~
*.*~

sdkconfig
sdkconfig.old
sdkconfig.bak

temp/
build/
build.old/
test/build
factory/build
factory/test/build
pluto_factory/build
pluto_factory/test/build


components/mkspiffs/src/mkspiffs

/env
/Pipfile
/Pipfile.lock
.DS_Store
/*release_bin

/venv
/release